@font-face {
    font-family: 'MyWebFont';
    src: url(../fonts/Archivo/Archivo-Regular.ttf) format('truetype'); 
    font-style: normal;
    font-weight:100;
}
@font-face {
    font-family: 'MyWebFont';
    src: url(../fonts/Archivo/Archivo-Medium.ttf) format('truetype'); 
    font-style: normal;
    font-weight:200;
}
@font-face {
    font-family: 'MyWebFont';
    src: url(../fonts/Archivo/Archivo-Bold.ttf) format('truetype'); 
    font-style: normal;
    font-weight:300;
}
* {
    font-family: MyWebFont;
    font-weight: 200;
}
body {
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
}