@import url('https://fonts.googleapis.com/css?family=Courgette');
* {
    font-family: 'Courgette', sans-serif;
    font-size: 35;
    color: #ffffff;
}
.container {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
}
h2{
    font-size: 25;
}
h3 {
    font-size: 20;
}
p {
    font-size: 15;
}